# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: windows-latest

steps:


- script: echo Hello, world!
  displayName: 'Run a one-line script'
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '3.1x'
- task: CmdLine@2
  inputs:
    script: 'echo taskkill /f /im chromedriver.exe'

- task: DotNetCoreCLI@2
  inputs:
    command: 'restore'
    projects: '**/*.sln'
    feedsToUse: 'select'


- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'
